/* line 3, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/base/_font.scss */
h2 {
  font-size: 35px;
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/base/_defaults.scss */
body {
  padding: 0;
  margin: 0;
  font-family: lato, san-serif, 'segoe-ui-light';
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.header-main {
  min-height: 550px;
  width: 100%;
  background-image: url("../img/screenshot.png");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  transition: all 1.5s ease;
}

/* line 12, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.header-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #6eb2bd;
  background: -webkit-linear-gradient(#6eb2bd, rgba(187, 222, 228, 0.5));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6eb2bd, rgba(187, 222, 228, 0.5));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6eb2bd, rgba(187, 222, 228, 0.5));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6eb2bd, rgba(187, 222, 228, 0.5));
  /* Standard syntax */
}

@media screen and (max-width: 992px) {
  /* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
  .header-main {
    min-height: 400px;
  }
}

/* line 28, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.header-main.expanded {
  margin-top: 420px;
}

/* line 34, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.skew-line {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: none;
}

/* line 39, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.skew-line.sk1 {
  height: 300px;
  margin-top: -350px;
}

/* line 42, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.skew-line.sk1::after {
  content: '';
  position: absolute;
  top: 200px;
  right: -500px;
  height: 400px;
  width: 300%;
  background: #fff;
  transform: rotate(-4deg);
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  /* line 42, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
  .skew-line.sk1::after {
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 992px) {
  /* line 42, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
  .skew-line.sk1::after {
    transform: rotate(-3deg);
  }
}

/* line 60, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.skew-line.sk2 {
  background: #fff;
  height: 200px;
}

/* line 63, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.skew-line.sk2::before {
  content: '';
  position: absolute;
  bottom: -50px;
  right: -500px;
  height: 200px;
  width: 300%;
  background: #f59462;
  transform: rotate(2deg);
  z-index: 0;
}

/* line 77, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.about {
  display: inline-block;
  position: relative;
  background-color: #fff;
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 100px;
  margin-top: -50px;
  padding-top: 50px;
}

/* line 90, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.about .about-inner {
  margin: -50px auto 0;
  z-index: 999;
  max-width: 700px;
  padding: 50px 25px 0;
  text-align: center;
  overflow: hidden;
  color: #444444;
}

/* line 98, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.about .about-inner .game-icon {
  color: #444444;
}

/* line 104, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_header.scss */
.about .about-inner p {
  font-size: 18px;
  line-height: 28px;
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
}

/* line 9, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner {
  display: block;
  height: 160px;
  margin: 25px auto 0;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-family: Questrial;
}

/* line 19, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper {
  width: 100%;
  height: 160px;
}

/* line 22, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon {
  display: none;
  position: absolute;
  top: 80px;
  right: 10%;
  color: #fff;
  transition: all 1s ease;
  /* Rotate first bar */
}

/* line 29, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon .bar1, .menu .menu-inner .menu-wrapper .hamburger-icon .bar2, .menu .menu-inner .menu-wrapper .hamburger-icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* line 37, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon.expanded {
  /* Fade out the second bar */
  /* Rotate last bar */
}

/* line 38, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon.expanded .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

/* line 44, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon.expanded .bar2 {
  opacity: 0;
}

/* line 49, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon.expanded .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* line 55, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon:hover {
  color: #f59462;
  cursor: pointer;
}

/* line 59, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-inner .menu-wrapper .hamburger-icon.expanded {
  color: #f59462;
}

@media screen and (max-width: 1200px) {
  /* line 65, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .menu-inner .menu-wrapper .hamburger-icon {
    display: block;
  }
  /* line 68, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .menu-inner .menu-wrapper .menu-items {
    display: none;
  }
}

/* line 74, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-title {
  float: left;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
  line-height: 100px;
}

/* line 81, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .logo-wrapper {
  float: left;
  width: 25%;
  min-width: 300px;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  /* line 81, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .logo-wrapper {
    position: absolute;
    top: 25px;
    left: 10%;
    float: none;
    margin-top: 0;
  }
}

/* line 93, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .logo-wrapper .menu-logo {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  /* line 93, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .logo-wrapper .menu-logo {
    width: 150px;
  }
}

/* line 102, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items {
  width: 65%;
  float: right;
  display: block;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  /* line 102, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .menu-items {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  /* line 110, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .menu-items a {
    width: 100%;
    height: 70px;
    display: block;
  }
}

/* line 117, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items a .menu-item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  display: block;
  float: right;
  margin-top: 195px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 1s ease;
}

@media screen and (max-width: 1200px) {
  /* line 117, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
  .menu .menu-items a .menu-item {
    margin-top: 0;
  }
}

/* line 133, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items a .menu-item:hover {
  color: #f59462;
  cursor: pointer;
}

/* line 139, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items.expanded {
  display: block !important;
  position: absolute;
  top: -420px;
  width: 100%;
  padding: 0 0;
  height: 420px;
}

/* line 146, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items.expanded .menu-item {
  color: #AAA;
  float: left;
  width: 80%;
  margin: auto 10%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  z-index: -1;
  border-bottom: 1px solid #AAA;
}

/* line 158, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_navigation.scss */
.menu .menu-items.expanded a:last-child .menu-item {
  border: 0;
}

/* line 3, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates {
  margin-top: -50px;
  padding-top: 50px;
  width: 100%;
  background-color: #f59462;
  display: inline-block;
  text-align: center;
}

/* line 10, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner {
  margin: 0 auto 150px;
  max-width: 1200px;
  color: #fff;
}

/* line 14, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner p {
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  /* line 14, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
  .updates .updates-inner p {
    font-size: 14px;
  }
}

/* line 21, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks {
  color: #444444;
  display: flex;
  margin-top: 100px;
  text-align: left;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  /* line 21, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
  .updates .updates-inner .update-blocks {
    margin-top: 50px;
  }
}

/* line 30, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block {
  background: #fff;
  margin: 10px 2.5% 0 5%;
  flex-grow: 1;
  width: calc(85% * (1/2));
  position: relative;
  padding: 20px 0 50px;
  /*&::after{
           content: '';
           display: block;
           width: 150px;
           height: 50px;
           background: $light-orange;
           position: absolute;
           bottom:0;
           right: -75px;
           transform: rotate(-45deg);
         }
         &::before{
           content: '';
           display: block;
           width: 150px;
           height: 50px;
           background: $light-orange;
           position: absolute;
           bottom:0;
           left: -75px;
           transform: rotate(45deg);
         }*/
}

@media screen and (max-width: 992px) {
  /* line 30, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
  .updates .updates-inner .update-blocks .update-block {
    width: 80%;
    flex: 0 0 80%;
    margin: 90px 10% 0 10%;
  }
}

/* line 43, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block:nth-child(2) {
  margin: 10px 5% 0 2.5%;
}

@media screen and (max-width: 992px) {
  /* line 43, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
  .updates .updates-inner .update-blocks .update-block:nth-child(2) {
    margin: 90px 10% 0 10%;
  }
}

/* line 50, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block .details, .updates .updates-inner .update-blocks .update-block p {
  padding-right: 30px;
  padding-left: 30px;
}

/* line 78, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block h2 {
  display: block;
  width: 60%;
  background: #fff;
  height: 40px;
  margin-top: -40px;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #444444;
  text-align: left;
  padding: 25px 30px 0;
}

/* line 91, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block .details {
  margin-top: 25px;
  text-align: left;
  width: 100%;
  display: inline-block;
}

/* line 96, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block .details .detail {
  float: left;
}

/* line 98, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block .details .detail i {
  margin-right: 10px;
}

/* line 101, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_updates.scss */
.updates .updates-inner .update-blocks .update-block .details .detail span {
  color: #AAA;
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
.gameplay {
  position: relative;
  overflow: hidden;
}

/* line 7, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
.gameplay .overlay {
  padding: 50px 0;
  width: 35%;
  display: inline-block;
  background-image: linear-gradient(-180deg, #f59462 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -17.5%;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  /* line 21, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
  .gameplay .overlay i {
    font-size: 56px;
  }
  /* line 24, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
  .gameplay .overlay h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  /* line 7, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
  .gameplay .overlay {
    padding: 25px 0;
  }
  /* line 31, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
  .gameplay .overlay i {
    font-size: 46px;
  }
  /* line 34, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_gameplay.scss */
  .gameplay .overlay h2 {
    font-size: 18px;
  }
}

/* line 3, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team {
  background: #fff;
  text-align: center;
  display: flex;
  width: 100%;
  position: relative;
}

/* line 9, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team::after {
  content: '';
  display: block;
  width: 2px;
  height: 1155px;
  background: #AAA;
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -2px;
}

@media screen and (max-width: 992px) {
  /* line 9, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team::after {
    display: none;
  }
}

/* line 24, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner {
  color: #444444;
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 0 100px;
}

/* line 30, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks {
  color: #444444;
  width: 80%;
  margin: 50px 10% 0;
}

@media screen and (max-width: 992px) {
  /* line 30, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks {
    margin: 100px 10% 0;
  }
}

/* line 37, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block {
  width: 50%;
  float: left;
  padding: 50px 0 25px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 992px) {
  /* line 37, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks .team-block {
    width: 80%;
    margin: 0 10% 0;
    border: 0;
    padding: 75px 0 50px;
  }
  /* line 48, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks .team-block::after {
    content: '';
    display: block;
    height: 1px;
    background: #AAA;
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    transform: rotate(-15deg);
  }
}

/* line 66, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block:nth-child(3) {
  border-top: 2px solid #AAA;
}

@media screen and (max-width: 992px) {
  /* line 66, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks .team-block:nth-child(3) {
    border: 0;
  }
}

/* line 73, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block:nth-child(4), .team .team-inner .team-blocks .team-block:nth-child(4) {
  border-top: 2px solid #AAA;
}

@media screen and (max-width: 992px) {
  /* line 73, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks .team-block:nth-child(4), .team .team-inner .team-blocks .team-block:nth-child(4) {
    border: 0;
  }
}

/* line 82, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-info {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: table;
}

/* line 88, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-info .info-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 91, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-info .info-inner h3 {
  margin-bottom: 0;
}

/* line 94, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-info .info-inner p {
  margin-top: 5px;
  font-style: italic;
}

/* line 100, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  /* line 100, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
  .team .team-inner .team-blocks .team-block-image {
    height: 200px;
    width: 200px;
  }
}

/* line 113, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-adam {
  background-image: url("../img/adam.png");
}

/* line 116, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-adam .triangle-container svg {
  left: -5px;
}

/* line 122, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-dave {
  background-image: url("../img/dave.jpg");
}

/* line 125, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-dave .triangle-container svg {
  left: -5px;
}

/* line 131, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-liam {
  background-image: url("../img/liam.jpg");
}

/* line 134, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-liam .triangle-container svg {
  right: -5px;
  transform: rotate(-90deg);
}

/* line 141, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-eli {
  background-image: url("../img/eli.jpg");
}

/* line 144, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image.image-eli .triangle-container svg {
  right: -5px;
  transform: rotate(-90deg);
}

/* line 151, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image .triangle-container svg {
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  opacity: 0.9;
}

/* line 157, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_team.scss */
.team .team-inner .team-blocks .team-block-image .triangle-container .triangle {
  fill: #fff;
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact {
  text-align: center;
  background: #444444;
  display: flex;
  width: 100%;
  color: #AAA;
}

/* line 7, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner {
  width: 100%;
  margin: 100px auto 100px;
}

/* line 11, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form input, .contact .contact-inner form textarea, .contact .contact-inner form button {
  background: none;
  border: 2px solid #5e8e96;
  max-width: 600px;
  width: 100%;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 15px 30px;
  font-family: lato;
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  transition: all 1s ease;
}

@media screen and (max-width: 767px) {
  /* line 11, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
  .contact .contact-inner form input, .contact .contact-inner form textarea, .contact .contact-inner form button {
    max-width: none;
    width: 80%;
    margin: 25px 10% 0;
  }
}

/* line 31, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form input::placeholder, .contact .contact-inner form textarea::placeholder, .contact .contact-inner form button::placeholder {
  color: #ccc;
}

/* line 34, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form input:focus, .contact .contact-inner form textarea:focus, .contact .contact-inner form button:focus {
  outline: none;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* line 38, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form input:focus::placeholder, .contact .contact-inner form textarea:focus::placeholder, .contact .contact-inner form button:focus::placeholder {
  color: #fff;
}

/* line 43, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form button {
  color: #ccc;
}

/* line 45, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form button:hover {
  border-color: #6eb2bd;
  background-color: #fff;
  color: #6eb2bd;
  cursor: pointer;
}

/* line 56, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
.contact .contact-inner form .form-group textarea {
  height: 300px;
}

@media screen and (max-width: 767px) {
  /* line 56, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_contact.scss */
  .contact .contact-inner form .form-group textarea {
    height: 225px;
  }
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.downloads {
  background-color: #5e8e96;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  width: 100%;
}

/* line 9, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.downloads .downloads-inner {
  margin: 50px auto;
}

@media screen and (max-width: 767px) {
  /* line 12, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
  .downloads .downloads-inner h2 {
    font-size: 24px;
    padding: 25px;
  }
}

/* line 17, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.downloads .downloads-inner .download-btn {
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 15px 15px 0;
  transition: all 1s ease;
  color: #fff;
}

/* line 25, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.downloads .downloads-inner .download-btn:hover {
  border-color: #375458;
  color: #375458;
  background-color: #fff;
  cursor: pointer;
}

/* line 35, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.windows-downloads, .ios-downloads, .linux-downloads {
  display: none;
  width: 100%;
}

/* line 41, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.windows .windows-downloads {
  display: block;
}

/* line 47, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.ios .ios-downloads {
  display: block;
}

/* line 53, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_downloads.scss */
.linux .linux-downloads, .unix .linux-downloads {
  display: block;
}

/* line 1, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_footer.scss */
footer {
  background: #94c5cc;
  display: flex;
  text-align: center;
  width: 100%;
  color: #fff;
}

/* line 7, C:/Users/Adamr/Documents/My Web Sites/RiposteWebsite/sass/components/_footer.scss */
footer .footer-inner {
  margin: 25px 0;
  width: 100%;
}

/*# sourceMappingURL=../css/main.map */