.contact{
  text-align: center;
  background: $grey;
  display: flex;
  width: 100%;
  color: $grey2;
  .contact-inner{
    width: 100%;
    margin: 100px auto 100px;
    form{
      input,textarea, button{
          background: none;
          border: 2px solid $light-blue;
          max-width: 600px;
          width: 100%;
          text-transform: uppercase;
          margin: 25px auto 0;
          padding: 15px 30px;
          font-family: lato;
          font-size: 14px;
          color: $white;
          border-radius: 10px;
          display: inline-block;
          box-sizing:border-box;
          transition: all 1s ease;
          @include breakpoint($xs){
            max-width: none;
            width: 80%;
            margin: 25px 10% 0;
          }
          &::placeholder{
            color: #ccc;
          }
          &:focus{
            outline: none;
            border: 2px solid $white;
            border-radius: 10px;
            &::placeholder{
              color: #fff;
            }
          }
      }
      button{
        color: #ccc;
        &:hover{
          border-color: $blue;
          background-color: $white;
          color: $blue;
          cursor: pointer;
        }
      }
      .form-group{

        input{
        }
        textarea{
          height: 300px;
          @include breakpoint($xs){
            height: 225px;
          }
        }
      }
    }
  }
}
