.header-main {
	min-height: 550px;
	width: 100%;
	background-image: url('../img/screenshot.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	&::before{
		content:'';
		position: absolute;
		top:0;
		right:0;
		height: 100%;
		width: 100%;
		background: $white-gradient;
    	background: -webkit-linear-gradient($white-gradient, $white-gradient-s); /* For Safari 5.1 to 6.0 */
    	background: -o-linear-gradient($white-gradient, $white-gradient-s); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient($white-gradient, $white-gradient-s); /* For Firefox 3.6 to 15 */
    	background: linear-gradient($white-gradient, $white-gradient-s); /* Standard syntax */
	}
	&::after{
		content:'';
		position: absolute;
		bottom:-300px;
		right: -500px;
		height: 400px;
		width: 300%;
		background: $white;
		transform: rotate(-6deg);
		z-index:0;
	}
}


.about{
	display: inline-block;
	position: relative;
	background-color: #fff;
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 100px;
	.about-inner{
		margin: -125px auto 0;
		z-index: 999;
		max-width: 768px;

		text-align: center;
		color:  $grey;
		.game-icon{
			color: $grey;
		}
		h2{

		}
		p{
			font-size: 18px;
			line-height: 28px;
		}
	}
}
