.header-main {
	min-height: 550px;
	width: 100%;
	background-image: url('../img/screenshot.png');
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: inline-block;
	transition: all 1.5s ease;
	&::before{
		content:'';
		position: absolute;
		top:0;
		right:0;
		height: 100%;
		width: 100%;
		background: $white-gradient;
    	background: -webkit-linear-gradient($white-gradient, $white-gradient-s); /* For Safari 5.1 to 6.0 */
    	background: -o-linear-gradient($white-gradient, $white-gradient-s); /* For Opera 11.1 to 12.0 */
    	background: -moz-linear-gradient($white-gradient, $white-gradient-s); /* For Firefox 3.6 to 15 */
    	background: linear-gradient($white-gradient, $white-gradient-s); /* Standard syntax */
	}
	@include breakpoint($md){
		min-height: 400px;
	}
	&.expanded{
		margin-top: 350px;
	}

}

.skew-line{
	width: 100%;
	overflow: hidden;
	position: relative;
	background: none;
	&.sk1{
		height: 300px;
		margin-top: -350px;
		&::after{
			content:'';
			position: absolute;
			top: 200px;
			right: -500px;
			height: 400px;
			width: 300%;
			background: $white;
			transform: rotate(-4deg);
			@include breakpoint($lg){
				transform: rotate(-5deg);
			}
			@include breakpoint($md){
				transform: rotate(-3deg);
			}
			z-index:0;
		}
	}
	&.sk2{
		background: $white;
		height: 200px;
		&::before{
			content:'';
			position: absolute;
			bottom: -50px ;
			right: -500px;
			height: 200px;
			width: 300%;
			background: $light-orange;
			transform: rotate(2deg);
			z-index:0;
		}
	}
}

.about{
	display: inline-block;
	position: relative;
	background-color: #fff;
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 100px;
	&::after{

	}
	.about-inner{
		margin: -50px auto 0;
		z-index: 999;
		max-width: 700px;
		padding: 50px 25px 0;
		text-align: center;
		overflow: hidden;
		color:  $grey;
		.game-icon{
			color: $grey;
		}
		h2{

		}
		p{
			font-size: 18px;
			line-height: 28px;
		}
	}

}
