//GRADIENTS
//==================================================
$white-gradient: rgba(255,255,255,1);
$white-gradient-s: rgba(255,255,255,0.2);

//BASE COLORS
//==================================================
$grey: #444444;