// BREAKPOINT VARIABLES
// =============================================================================

$xxs: ( max:  600px );
$xs: ( max:  767px );
$sm: ( max:  768px );
$md: ( max:  992px );
$lg: ( max: 1200px );
$sm-only: ( min: map-get($sm, max), max: map-get($md, max) - 1 );
$md-only: ( min: map-get($md, max), max: map-get($lg, max) - 1 );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}
